<div id="discussion-container" class="w-3/5 h-fit text-center py-6">
    <div id="message-container" class="flex flex-wrap justify-end classic-border rounded-md overflow-hidden p-2 h-14 hover:cursor-pointer" data-isopened="true">
        <div class="message-board text-stone-400 text-lg text-left w-full h-12 pt-1 pl-2">要在課程中宣布的事項</div>
        <textarea id="message" class="resize-none bg-stone-100 rounded-md text-lg w-full h-64 py-1 px-2" placeholder="要在課程中宣布的事項"></textarea>
        <button id="btn-board-cancel" class="classic-border text-lg rounded-md h-fit w-28 mt-2 mx-2 p-2">取消</button>
        <button id="btn-send" class="text-lg bg-blue-400 rounded-md h-fit w-28 mt-2 p-2">送出</button>
    </div>
</div>
<script>
$(document).ready(function() { 
    /* Get discussion data */
    $.ajax({
        type: "POST",
        url: "url",
        data: {},
        dataType: "JSON"
    })
    .then(function(res) {
        /* Wait implement */       
    }, function(err) {
        var testData = {
            data: [
                {
                    id: 1,
                    user: "I am teacher",
                    content: "I am message board test.",
                    date: FormatDate(),
                    comment: [
                        {
                            user: "Student 1",
                            content: "this comment was from student 1",
                            date: FormatDate()
                        },
                        {
                            user: "Student 2",
                            content: "this comment was from student 2",
                            date: FormatDate()
                        },
                        {
                            user: "Student 3",
                            content: "this comment was from student 3",
                            date: FormatDate()
                        }
                    ]
                },
                {
                    id: 2,
                    user: "王昱鈞",
                    content: "這是留言板測試.",
                    date: FormatDate(),
                    comment: [
                        {
                            user: "楊小弟1",
                            content: "this comment was from 楊小弟1",
                            date: FormatDate()
                        },
                        {
                            user: "楊小弟2",
                            content: "this comment was from 楊小弟2",
                            date: FormatDate()
                        },
                        {
                            user: "楊小弟3",
                            content: "this comment was from 楊小弟3",
                            date: FormatDate()
                        }
                    ]
                }
            ]
            
        }
        $.ajax({
            type: "GET",
            url: components["commentCard"],
            dataType: "text"
        })
        .then(function(res) {
            testData.data.forEach(function(item) {
                $.tmpl(res, item).appendTo("#discussion-container");
            });
        })
    });

    $("div.message-board").on("click", messageOnClick);

    $("#btn-board-cancel").on("click", messageOnClick);

    $("#btn-send").on("click", function(event) {
        let commentCard;
        let cardData = {
            id: -1,
            user: userData.name,
            date: new Date(),
            content: $("#message").val(),
            comment: []
        };

        $.ajax({
            type: "GET",
            url: components["commentCard"],
            datatype: "text",
            success: function(res) {
                commentCard = res; 
            },
        })
        .then(function(res) {
            /* Post data to server */
            $.ajax({
            type: "POST",
            url: "url",
            data: cardData,
            dataType: "JSON",
            })
            .then(function(res) {
                /* cardData.id = res.data.id */
            }, function(err) {
                /* 假設id為900 */
                alert("Error occured.");
                cardData.id = 900; 
                $.tmpl(commentCard, cardData).insertBefore($("#message-container").next());
            });
        });
        $("#message").val("");
        messageOnClick({});
    });
});

function messageOnClick(event) {
    let messageBoard = $("div.message-board");
    let parent = messageBoard.parent("div");
    if(parent.attr("data-isopened") === "true") {
        parent.attr("data-isopened", "false");
        messageBoard.addClass("hidden");
        parent.addClass("h-[340px]");
    }
    else {
        parent.attr("data-isopened", "true");
        messageBoard.removeClass("hidden");
        parent.removeClass("h-[340px]");
    }
};
</script>