<div onclick="CardOnClick(event)" class="bg-slate-50 border-solid border-stone-300 border rounded-lg h-fit m-2 p-2 hover:cursor-pointer hover:shadow-lg">
    <p id="id" hidden>{{ ClassId }}</p>
    <div class="flex">
        <p>課程名稱：</p>
        <p>{{ Name }}</p>
    </div>
    <div class="flex">
        <p>課程科目：</p>
        <p>{{ Subject }}</p>
    </div>
    <div class="flex">
        <p>課程教師：</p>
        <p>{{ Teacher }}</p>
    </div>
</div>
<script>
    function CardOnClick(e) {
        let id = $(e.currentTarget).find("p#id");
        alert(id.text());
        ShowPage("class");
    }
</script>