<div onclick="CardOnClick(event)" class="flex flex-col bg-slate-50 border-solid border-stone-300 border rounded-lg h-fit w-60 m-2 hover:cursor-pointer hover:shadow-lg">
    <div class="bg-blue-600 w-full h-14 rounded-t-lg"></div>
    <p id="id" hidden>${ID}</p>
    <div class="flex flex-col p-2">
        <p class="font-bold text-lg">${Name}</p>
        <p>${Subject}</p>
        <p class="text-right text-sm text-stone-400">${Teacher}</p>
    </div>
</div>
<script>
    function CardOnClick(e) {
        let id = $(e.currentTarget).find("p#id");
        $("#class-id").text(id.text());
        alert(id.text());
        ShowPage("class");
    }
</script>