<div id="class-content" class="w-3/5 text-center">
    <div id="chapter-content" class="flex flex-col h-auto p-4">
        <div id="btn-add-chapter" onclick="ShowModal({title: '新增章節', content: createChapterTemplate})" class="edit-nav text-center text-xl text-stone-400 border-dashed border border-stone-300 rounded-md w-full h-10 p-1 my-3 hover:cursor-pointer">新增章節</div>
    </div>
</div>
<script>
$(function() {
    classId = $("#class-id").text();
    if(userData.Role === "Student")
        $(".edit-nav").addClass("hidden");

    $.ajax({
        type: "POST",
        url: "/GetClassInformation",
        data: {classId: classId},
        dataType: "JSON"
    })
    .then(function(res) {
        /*Implement success function here*/
        if(userData.Role === "Student")
            $(".edit-nav").addClass("hidden");
        if( res.status == true ) {
            res.data.forEach(function(item) {
                $.ajax({
                    type: "GET",
                    url: components["classChapter"],
                    dataType: "text"
                })
                .then(function(res) {
                    let chapters = $.tmpl(res, item);
                    chapters.insertBefore("#btn-add-chapter");
                    chapters.ready(function() {
                        if(userData.Role === "Student")
                            $(".edit-nav").addClass("hidden");
                    });
                });
            });    
        }
        else if( res.status == false ) {
            alert("課程資訊獲取失敗");
            console.log(res);
        }
    }, function(err) {
        alert("課程資訊獲取失敗");
        console.log(err);
    });
});
</script>