<div id="discussion-container" class="w-3/5 h-fit text-center py-6">
    <div id="message-container" class="flex flex-wrap justify-end classic-border rounded-md overflow-hidden p-2 h-14 hover:cursor-pointer" data-isopened="true">
        <div class="message-board text-stone-400 text-lg text-left w-full h-12 pt-1 pl-2">要在課程中宣布的事項</div>
        <textarea id="message" class="resize-none bg-stone-100 rounded-md text-lg w-full h-64 py-1 px-2" placeholder="要在課程中宣布的事項"></textarea>
        <button id="btn-board-cancel" class="classic-border text-lg rounded-md h-fit w-28 mt-2 mx-2 p-2">取消</button>
        <button id="btn-send" class="text-lg bg-blue-400 rounded-md h-fit w-28 mt-2 p-2">送出</button>
    </div>
</div>
<script>
$(document).ready(function() { 
    classId = parseInt($("#class-id").text());
    /* Get discussion data */
    $.ajax({
        type: "POST",
        url: "/GetClassDiscussion",
        data: { id: classId },
        dataType: "JSON"
    })
    .then(function(res) {
        if( res.status == true ) {
            $.ajax({
                type: "GET",
                url: components["commentCard"],
                dataType: "text"
            })
            .then(function(template) {
                console.log(res);
                res.data.forEach(function(item) {
                    $.tmpl(template, item).appendTo("#discussion-container");
                });
            });
        }
        else if( res.status == false ) {
            alert("取得討論串發生錯誤");
            console.log(res);
        }
    }, function(err) {
        alert("取得討論串發生錯誤");
        console.log(err);
    });
    $("div.message-board").on("click", messageOnClick);
    $("#btn-board-cancel").on("click", messageOnClick);
    $("#btn-send").on("click", function(event) {
        let commentCard;
        let cardData = {
            id: -1,
            user: userData.Name,
            date: new Date(),
            content: $("#message").val(),
            ClassID: parseInt($("#class-id").text()),
            comment: []
        };
        $.ajax({
            type: "GET",
            url: components["commentCard"],
            datatype: "text",
        })
        .then(function(res) {
            commentCard = res;
            $.ajax({
                type: "POST",
                url: "/CreateDiscuss",
                data: cardData,
                dataType: "JSON",
            })
            .then(function(res) {
                if( res.status == true ) {
                    cardData.id = res.data;
                    console.log(cardData);
                    $.tmpl(commentCard, cardData).insertBefore($("#message-container").next());
                }
                else if( res.status == false ) {
                    alert("建立討論串發生錯誤");
                    console.log(res);
                }
            }, function(err) {
                alert("建立討論串發生錯誤");
                console.log(err);
            });
        });
        $("#message").val("");
        messageOnClick({});
    });
});

function messageOnClick(event) {
    let messageBoard = $("div.message-board");
    let parent = messageBoard.parent("div");
    if(parent.attr("data-isopened") === "true") {
        parent.attr("data-isopened", "false");
        messageBoard.addClass("hidden");
        parent.addClass("h-[340px]");
    }
    else {
        parent.attr("data-isopened", "true");
        messageBoard.removeClass("hidden");
        parent.removeClass("h-[340px]");
    }
};
</script>