<div id="class-content" class="w-3/5 text-center">
    <div id="chapter-content" class="flex flex-col h-auto p-4">
    </div>
</div>
<script>
$(document).ready(function() {
    $.ajax({
        type: "POST",
        url: "getChaptersAndSections",
        data: {},
        dataType: "JSON"
    })
    .then(function(res) {
        /*Implement success function here*/
    }, function(err) {
        let data = {
            data: [
                {
                    chapter: "Chapter1",
                    section: [
                        {
                            name: "Section1-1",
                            videoID: "K1gbveCNlQs"
                        },
                        {
                            name: "Section1-2",
                            videoID: "K1gbveCNlQs"
                        },
                        {
                            name: "Section1-3",
                            videoID: "K1gbveCNlQs"
                        },
                        {
                            name: "Section1-4",
                            videoID: "K1gbveCNlQs"
                        },
                    ]
                },
                {
                    chapter: "Chapter2",
                    section: [
                        {
                            name: "Section2-1",
                            videoID: "HPvJRDergYM"
                        },
                        {
                            name: "Section2-2",
                            videoID: "HPvJRDergYM"
                        },
                        {
                            name: "Section2-3",
                            videoID: "HPvJRDergYM"
                        }
                    ]
                },
            ]
        };
        data.data.forEach(function(item) {
            $.ajax({
                type: "GET",
                url: components["classChapter"],
                dataType: "text"
            })
            .then(function(res) {
                $.tmpl(res, item).appendTo("#chapter-content");
            });
        });
    });
});
</script>