<nav id="navBar" class="fixed flex items-center bg-slate-50 opacity-100 border-solid border-stone-300 border-b h-12 w-full z-50">
    <div id="information-btn" class="select-none 
                                    text-gray-600 
                                    border-solid border-slate-50 border-b-4 
                                    ml-3 px-3 pt-[13px] pb-[6px] 
                                    hover:cursor-pointer hover:text-black hover:bg-blue-400 hover:bg-opacity-10">課程內容</div>
    <div id="discussion-btn" class="select-none 
                                    text-gray-600 
                                    border-solid border-slate-50 border-b-4 
                                    px-3 pt-[13px] pb-[6px] 
                                    hover:cursor-pointer hover:text-black hover:bg-blue-400 hover:bg-opacity-10">訊息串</div>
</nav>
<div id="class-content" class="relative top-12 flex justify-center h-screen z-40">
</div>
<script>
    $(document).ready(function() {
        console.log("class.html test");
        let classContent = $("#class-content");
        let navBar = $("#navBar");
        let navBtns = navBar.children();

        // Initiallize
        $(navBtns[0]).addClass("border-blue-500");
        ShowPage("class/information", classContent);

        navBtns.on("click", function(e){
            let target = $(e.currentTarget);
            navBtns.removeClass("border-blue-500");
            target.addClass("border-blue-500");
        }); 

        $("#information-btn").on("click", function(e){
            ShowPage("class/information", classContent);
        });

        $("#discussion-btn").on("click", function(e){
            ShowPage("class/discussion", classContent);
        });
    });
</script>