<div id="gallery-main" class="flex flex-col bg-slate-50 border-solid border-stone-300 h-full w-full">
    
</div>

<script>
    $(document).ready(function() {
        let main = $("#gallery-main");
        $.ajax({
            type: "GET",
            url: "!!GET CLASS DATA API!!",
            data: {},
            dataType: "JSON",
            success: function(res) {
                res.forEach(function(element) {
                    
                });
            },
            error: function(err) {
                console.log("get in err");
                let resTest = [
                    {
                        Name: "Linear",
                        Subject: "Math",
                        Teacher: "Teacher1"
                    },
                    {
                        Name: "AI",
                        Subject: "Math",
                        Teacher: "Teacher2"
                    }
                ];
                resTest.forEach(function(element) {
                    $.ajax({
                        type: "GET",
                        url: "template/ClassCard.html",
                        dataType: "text",
                        success: function (res) {
                            console.log("get in success function.");
                            res = res.replace("{{ Name }}", element.Name);
                            res = res.replace("{{ Subject }}", element.Subject);
                            res = res.replace("{{ Teacher }}", element.Teacher);
                            main.append(res);
                        }
                    });
                });
            }
        });
    });
</script>