<div id="gallery-main" class="flex flex-col bg-slate-50 border-solid border-stone-300 h-full w-full">
    
</div>

<script>
    $(document).ready(function() {
        let main = $("#gallery-main");
        $.ajax({
            type: "GET",
            url: "!!GET CLASS DATA API!!",
            data: {},
            dataType: "JSON",
            success: function(res) {
                res.forEach(function(element) {
                    
                });
            },
            error: function(err) {
                let resTest = [
                    {
                        ID: 1,
                        Name: "Linear",
                        Subject: "Math",
                        Teacher: "Teacher1"
                    },
                    {
                        ID: 2,
                        Name: "AI",
                        Subject: "Math",
                        Teacher: "Teacher2"
                    }
                ];
                resTest.forEach(function(element) {
                    $.ajax({
                        type: "GET",
                        url: "template/class_card.html",
                        dataType: "text",
                        success: function (res) {
                            $.tmpl(res, element).appendTo(main);
                        },
                        error: function(err) {
                            alert("An Error Occurred!");
                            console.log("Gallery.html -> line43");
                        }
                    });
                });
            }
        });
    });
</script>